

<div class="container">
  <div class="row">
    <%= render'user_info', user_info: @user_info, book_info: @book_info %>

    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table">
        <tbody>
          <tr id="book_<%= @book.id %>">

            <%= render 'book', book: @book %>

          </tr>
        </tbody>
      </table>
      <div id="comments_area">
        <%= render 'book_comments', book: @book %>
      </div>
      <div>
        <%= render 'comment_from', book: @book, book_comment: @book_comment %>
      </div>
    </div>
  </div>
</div>